<app-userlist [author]="message.author" [users]="userList"></app-userlist>
<app-username [initialName]="message.author" (changedName)="changedName($event)"></app-username>

<div>status: {{ message.author !== '...' ? 'Connected' : 'Disconnected' }}</div>
<div id="messages-container">
  <div *ngFor="let m of messages" class="message"
       [ngClass]="m.class">
    ({{m.time | date:'HH:mm:ss'}}) <strong>{{m.author}}</strong>: {{m.content}}
  </div>
</div>
<form (ngSubmit)="pushMessage(message)" class="messagebox">
  <input [(ngModel)]="message.content" type="text"
         id="message-to-send" name="message" autocomplete="off">
  <input type="submit" value="Send">
</form>
