/* You can add global styles to this file, and also import other style files */
@import url("~skeleton-css/css/normalize.css");
/*@import url("~skeleton-css/css/skeleton.css");*/

html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

body {
  background-color: #ecf0f1;
}
